@import "tailwindcss";

@theme {
  --color-foreground: oklch(19.26% 0.0308 83.24);
  --color-background: oklch(98.03% 0.0142 84.58);
  --color-primary: oklch(72.37% 0.1441 69.28);
}

@layer base {
  h1 {
    @apply mb-4 text-4xl font-bold;
  }
}

@layer components {
  .input {
    @apply border-primary bg-background rounded border-2 p-2;
  }

  .button {
    @apply bg-primary text-background cursor-pointer rounded p-2;
  }
}
